/* CSS Properties For Maximum Width 400px */
@media (max-width: 400px) {

    /* Navbar Section ( For Maximum Width 400px ) */
    #navbar #logo img {
        position: relative;
        top: 10px;
        left: 15%;
        display: inline-block;
        width: 70%;
    }


    /* Form Section ( For Maximum Width 400px ) */
    #form #main-form input::placeholder {
        font-size: 12px;
    }

    .btn button {
        margin: 30px 5px;
        padding: 18px;
        font-size: 13px;
        border-radius: 15px;
    }


    /* Contact Section ( For Maximum Width 400px ) */
    #contact {
        font-size: 15px;
        padding: 15px;
    }

    #contact h4 {
        font-size: 21px;
    }


    /* Footer Section ( For Maximum Width 400px ) */
    #footer {
        font-size: 17px;
    }
}


/* Navbar Section ( For Maximum Width 700px ) */
#navbar {
    margin: auto;
}

#navbar #logo {
    width: auto;
    margin: auto;
}

#right {
    display: none;
}


/* Carousel Section ( For Maximum Width 700px ) */
#carousel {
    display: none;
}


/* Form Section ( For Maximum Width 700px ) */
#form #main-form input {
    width: 50%;
}